node_modules/
poupapp/node_modules/
poupapp/.angular/
poupapp/.cache/
poupapp/dist/
poupapp/build/
poupapp/.env
poupapp/.DS_Store
poupapp/*.log
poupapp/coverage/
poupapp/.vscode/
poupapp/npm-debug.log*
poupapp/yarn-debug.log*
poupapp/yarn-error.log*
dist/
build/
.env
.DS_Store
*.log
coverage/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.cache
*.pid
*.seed
*.tgz
*.gz
*.zip