/* You can add global styles to this file, and also import other style files */
:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-prata: "Prata", serif;

  --color-primaria: #6278f7;
  --color-secundaria: #2e2e2e;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  margin: 0;
  padding: 0;
}
.texto-titulo {
  font-family: var(--font-prata);
  font-size: 40px;
  font-weight: var(--font-weight-normal);
  line-height: 72px;
  text-align: center;
  color: var(--color-primaria);
}

.linha-destaque {
  display: block;
  margin: 0 auto;
}
